.main-header {
  margin-top: 10px;
  text-align: center;
}
.top {
  display: flex;
}

/* About Us */
.story-box{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
.story-card{
margin-top: 100px;
margin-bottom: 50px;
display: flex;
align-items: center;
justify-content: center;
width: 1000px;
height: 550px; 
box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
background-color: lightblue;
}

.aboutus{

margin-top: 20px;
color: rgb(75, 4, 113);
text-align: center;
padding: 20px 20px;
font: bold;
font:x-large
}

.text {
  padding: 0 20px 20px;
  color: white;
}


 @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h1 {
  font-family: Arial;
  font-weight: bold;
  animation-duration: 2s;
  animation-name: slidein;
  font-family: "Arial", sans-serif !important;
}



h1{
  color: black;
  margin: 20px 0px 20px;
  font-size: 75px;
  font-family: verdana;
}


.background {
background-image: url('aston.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 120vh;
padding-top: 60px;
}
