body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
}
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    background: lightblue;
    color: white;
    height: 70px;
    font-style: bold;
    padding-bottom: 1px;
    border-bottom: 1px solid #333333;
    top: 0%;
  }

  header ul li a:hover::before 
  {
      transform: scaleX(1);
      transform-origin: left;
  }
  
  .menu-container a {
    text-decoration: none;
  }

  header ul li a::before { 
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
   
}
header ul {
  position: relative;
  display: flex;
  gap: 15px;
}


header ul li {
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 0.80em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 10px;
}
  
  .menu-container a:hover {
    color: red;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  @media only screen and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 30px;
      background: #df0606;
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
  }

  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: white;
    }
    aboutus
    .menu-container input {
      display: none;
    }

    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }

  .hero{
   position: relative;
   width: 120%;
   height: 60%;
  }

  .hero img{
    display: block;
    padding-bottom: 10%;
    width: 120%;
    height: 100%;
  }

  .Indexcontent{
    position: absolute;
    top: 50%;
    left:65%;
    transform: translateY(-50%);
  }
     
  h1{
    margin: 20px 0px 20px;
    font-size: 75px;
    left:67%;
    transform: translateY(-50%);
  }

  h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;

  }

  h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
  }

  .team-section-title {
    margin:100px 0;
    text-align:center;
    text-transform:capitalize;
    color:rgb(100, 100, 205);
    position:relative;
    height:6px;
    left: 01%;
  }
 
  .team-section-title::after {
    height:6px;
    left: 01%;
    transform:translateX(01%);  
    background-image:linear-gradient(to left, transparent 5%, #625261);
    bottom:-20px;
    position:absolute;
    width:30%;
  }

  .team-row {
    flex-wrap:wrap;
    padding:50px 0;
    display:flex;
    justify-content:center;
  }
  .ASproduct {
    transition:all 0.6s;
    flex:1 1 250px;
    text-align:center;
    margin:30px;
    padding:30px 15px;
    cursor:pointer;
    max-width:250px;
   
  }
  .ASproduct img {
    width:165px;
    border-radius:50%;
    display:block;
    margin: 0 auto;
    height:165px;
    object-fit:cover;
    border:2px solid #000000;
  }

  .ASproduct:hover {
    transform:translateY(-30px);
    box-shadow:0 15px 25px rgba(0,0,0,0.2);
  }

  .ASproduct h2 {
    color:#625261;
    margin:15px 0;
    text-transform:uppercase;
    font-size:24px;
  }
  .ASproduct p {
    line-height:1.5;
    font-size:16px;
    color:#838383;
   
  }
 
  .info p{
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  .team-row .button{
    background-color:#2f00ff;
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 32px;
    transition: .6s;
  }

  .team-row .button:hover{
    background-color: transparent;
    border: 2px solid #001eff;
    cursor: pointer;
    color: #000dff;
  }

  .btn{
    position: absolute;
    transform: translate(-50%, -10%);
    left: 45%;
    background-color:#2f00ff;
    color: white;
    text-decoration: none;
    border: 10px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 32px;
    transition: .6s;
 
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #001eff;
    cursor: pointer;
  }

.checked{
    color: orange;
}
