<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AstonStop Landing Page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/index.css}" rel="stylesheet">
<!-- <link th:href="@{/footer.css}" rel="stylesheet"> -->
<link th:href="@{/about.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
<nav class="menu-container"> 
    <div class="menu">
      <ul>
        <li>
          <a th:href="@{/}">
            Home
        </li>
        <li>
            <a th:href="@{/products}">
            Products
          </b>
        </li>
        <li>
            <a th:href="@{/aboutus}">
            About
          </a>
        </li>
        <li>
            <a th:href="@{/contact}">
            Contact
          </a>
        </li>
      </ul>
      <ul>
         <li>
            <a th:href="@{/login}"><i class="fa fa-fw fa-user"></i> Login</a>
        </li>

          </a>
          <li>
            <a th:href="@{/checkout}"><i class="fa fa-shopping-cart" style="font-size:36px"></a></i>          
          </li>
      </ul>
    </div>
  </nav>
</header>

<body>    
    <section> 
        
        <div class="background">
            <div class="about">
                
                <div class="story-box">
                    <div class="story-card">
                        <div class="aboutus"> 
                            <br>
                        <h1> About Us </h1>
                            <br>
                            <p> We are Aston Stop. We sell a wide range of products that cater to the needs of students aged 16 and above. 
                              The products offered include textbooks, stationery, electronic devices, dorm room essentials, and much more. 
                              In addition, we also offer a variety of services such as printing and binding, course material delivery, and a buyback program for used textbooks. 
                              With a focus on quality, affordability, and convenience, we have become a popular choice for students at Aston University and beyond.</p>
                          <br>
                          <p>Founded in 2023, Aston Stop delivers premium styling, quality and value to consumers worldwide. 
                              With a breadth of collections including men’s, women’s, kids, accessories and footwear. <p>
                          <br>
                          <p>Aston Stop is a national apparel and retail company. 
                              With the support of strong national consumer recognition, Aston Stop has built an extensive distribution network in over 10 cities nationwide.</p>
              
                            <br>                     
                       </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 
</section>
</body>
</html>