<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created using create-react-app" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
    rel="stylesheet">
    <header>
      <nav class="menu-container"> 
          <div class="menu">
            <ul>
              <li>
                <a th:href="@{/}">
                  Home
              </li>
              <li>
                  <a th:href="@{/products}">
                  Products
                </b>
              </li>
              <li>
                  <a th:href="@{/aboutus}">
                  About
                </a>
              </li>
              <li>
                  <a th:href="@{/contact}">
                  Contact
                </a>
              </li>
            </ul>
            <ul>
                  <li>
                  <a th:href="@{/login}"><i class="fa fa-fw fa-user"></i> Login</a>
              </li>
      
                </a>
                <li>
                  <a th:href="@{/checkout}"><i class="fa fa-shopping-cart" style="font-size:36px"></i>
                </li>
            </ul>
          </div>
        </nav>
      </header>
</head>
  <title>React Admin App</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>