<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="about.css" />
    <link rel="stylesheet" href="contact.css" />
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="icon.css">
    <link rel="stylesheet" href="script.js">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <!-- animation when scrolling -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/effeb5c9fd.js" crossorigin="anonymous"></script>
    
    
    <title>Aston Stop About</title>
  </head>
  <body>
    <div class="menu-bar">
      <h1 class="logo">Aston<span>Stop</span></h1>
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/about}">About</a></li>
        <li><a th:href="@{/products}">Shop </a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a th:href="@{/login}"><i class="fa fa-fw fa-user"></i> Login/Register</a></li>
      </ul>
    </div>



<div class="Basket">
  <div th:each="basket:${basket}">
      <div class="Pcontainer"> 
          <div class="products">
            <div class="productPage">
              <div style="display: inline-block;">
              <!-- <img src="..." th:src="${product.image}" width="250px" height="250px" alt=""> -->
              <div class="content">
                <h3 th:text="${product.product}"> </h3>
                  <h3 th:text="'£' + ${product.unit_price"> </h3>
                  <h3 th:text="${product.stock"> </h3>

              </div>
              <div class="link">
                <a href="@{/checkout}">Buy Now</a>
                <a href="@{/checkout}">Add to      Cart</a>
              </div>
              </div>
          </div>
        </div>
        <ul>

