<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AstonStop Landing Page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/index.css}" rel="stylesheet">
<link th:href="@{/footer.css}" rel="stylesheet">
<link th:href="@{/basket.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
<nav class="menu-container"> 
    <div class="menu">
      <ul>
        <li>
          <a th:href="@{/}">
            Home
        </li>
        <li>
            <a th:href="@{/products}">
            Products
          </b>
        </li>
        <li>
            <a th:href="@{/aboutus}">
            About
          </a>
        </li>
        <li>
            <a th:href="@{/contact}">
            Contact
          </a>
        </li>
      </ul>
      <ul>
         <li>
            <a th:href="@{/login}"><i class="fa fa-fw fa-user"></i> Login</a>
        </li>

          </a>
          <li>
            <a th:href="@{/checkout}"><i class="fa fa-shopping-cart" style="font-size:36px"></a></i>
          </li>
      </ul>
    </div>
  </nav>
</header>


<body>
    <div class="row">
        <div class="col-75">
            <div class="containerCK">
                <form action="/checkout">

                    <div class="row">
                        <div class="col-50">

                            

                            
                            <p><a href="@{/checkout/}">Product 1</a> <span class="price">Price: £15</span></p>
                            <br>
                            <br>

                            
                            <p><a href="@{/checkout/}">Product 2</a> <span class="price">Price: £5</span></p>
                            <br>
                            <br>

                            <!-- <img src="images/accessory2.jpeg" style="width:150px; height:150px;" alt="a1" class="thumbnail"> -->
                            <p><a href="@{/checkout/}">Product 3</a> <span class="price">Price: £8</span></p>
                            <br>
                            <br>
                            <!-- "@{/checkout/{id}(id=${product.id})}}" -->
                            <!-- <img src="images/accessory2.jpeg" style="width:150px; height:150px;" alt="a1" class="thumbnail"> -->
                            <p><a href="@{/checkout/}">Product 4</a> <span class="price">Price: £2</span></p>
                            <br>
                            <br>

                            <hr>
                            <p>Total: <span class="price" style="color:black"><b>£30</b></span></p>

                        </div>
                    </div>

                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>

                    <input type="submit" value="Continue to checkout" class="btnCK">

                </form>
            </div>
        </div>
    </div>

</body>

