<!DOCTYPE html>
<html>
<head>
<title>AstonStop</title>

<link  rel="stylesheet" href="../static/Index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<header>

<nav class="menu-container"> 
    <div class="menu">
      <ul>
        <li>
          <a href="Index.html">
            Home
        </li>
        <li>
          <a href="Products.html">
            Products
          </b>
        </li>
        <li>
          <a href="AboutUs.html">
            About Us
          </a>
        </li>
        <li>
          <a href="ContactUs.html">
            Contact Us
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        </li>

          </a>
      </ul>
    </div>
  </nav>
</header>
<body>

 
  <div class="hero">

    <div class="content">
      <h4>Welcome to Our Website</h4>
      <h1>Aston<span>Stop</span></h1>
      <h3> WE HAVE WHAT YOU NEED! </h3>
      <button class="btn">Shop Here! &#8594; </button>
      <div class="newslatter">
      </div>
    </div>
  </div>

  </body>
   <section>
    <h1 class="team-section-title">&#8595 See Our best sellers below! &#8595</h1>
    <div class="team-row">

      <div class="ASproduct">
        <img src="../Images/Ruler-Image.png">
        <br>
        <h2>Place Holder</h2>
        <br>
        <div id=Star>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
      </div>
        <div class="info">
          <br>
          <p style="text-align: center;">
            <br>
            <a class="button" href="#">Find out more</a>
      </div>
      </div>

      <div class="ASproduct">
        <img src="../Images/Ruler-Image.png">
        <br>
        <h2>Place Holder</h2>
        <br>
        <div id=Star>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
      </div>
      <br>
        <div class="info">
          <br>
          <p style="text-align: center;">
            <br>
            <a class="button" href="#">Find out more</a>
      </div>
      </div>

     <div class="ASproduct">
       <img src="../Images/Ruler-Image.png">
       <br>
       <h2>Ruler</h2>
       <br>
       <div id=Star>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
       <div class="Info">
         <br>
        <p style="text-align: center;">
          <br>
          <a class="button" href="#">Find out more</a>
    </div>
    </div>

 
   
  </section>
</body>

<footer>
      <br>
    <h3><b>All Rights Reserved Aston-Stop & Aston University UK & US 2023&#8482;</b></h3>
  </div>
  </div>
</div>
</div>

</footer>

</html>

</x-app-layout>

