<!DOCTYPE html>
<html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link th:href="@{/css/Admin.css}"  rel="stylesheet">
    <link href="Admin.css"  rel="stylesheet">
    <link th:href="@{/css/AdminNav.css}"  rel="stylesheet">
    <link href="AdminNav.css"  rel="stylesheet">


    <header>
        <nav class="menu-container"> 
            <div class="menu">
              <ul>
                <li>
                  <a th:href="@{/admin}">
                    Home
                </li>
                <li>
                    <a th:href="@{/Orders}">
                    Orders
                  </b>
                </li>
                <li>
                    <a th:href="@{/Roles}">
                    Roles
                  </a>
                </li>
                <li>
                    <a th:href="@{/addProduct}">
                    Add Product
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <li>
                    <a th:href="@{/logout}"><i class="fa fa-fw fa-user"></i> Logout</a>
                </li>
    
                  </a>
              </ul>
            </div>
          </nav>
        </header>
</div>
  
       
<div class="AdminHeader">
  <h1>Admin View Orders
  </h1>
  <div class="search" style= "margin-left: 50%;">
    <label>
        <input type="text" placeholder="Search">
        <i class="bi bi-search"></i>
    </label>
</div>
  
    <br><br>
    <br><br>
<div class="AdminTable">
    <div class="Header">
        <h2>Orders Table</h2>
        
    </div>
    <table>
        <thead id="cols">
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Status</td>
               
            </tr>
        </thead>

    </table>
</div>


   
</body>
</html>