<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

    <link rel="stylesheet" href="signup.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>    

</head>
<body>

  <header class="main-header">
    <h1>Aston Stop</h1>
  </header>

  <div class="navigation">
    <div class="banner">
      <nav class="navbar">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="products.html">Products </a></li>            
          <li><a href="contactus.html">Contact Us</a></li>    
          <li><a href="checkout.html">Checkout</a></li>
        </ul>
      </nav>
    </div>

  <section>
    <div class="container forms">
      <div class="form signup">
    
      <h1>Sign Up</h1>
      <p>Signup here, it's quick and easy!</p>
      
      <form action="#">
        <div class="field input-field">
          <input type="First Name" placeholder="First Name" class="input">
        </div>
        
        <div class="field input-field">
          <input type="Last Name" placeholder="Last Name" class="input">
        </div>
        
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input">
        </div>
        
        <div class="field input-field">
          <input type="password" placeholder="Password" class="password">
          <i class='bx bx-hide eye-icon'></i>
        </div>
      
        <div class="field input-field">
          <input type="confirm password" placeholder="Confirm Password" class="Confirm password">
          <i class='bx bx-hide eye-icon'></i>
        </div>
        
        <div class="field button-field">
          <button>Login</button>
        </div>
        
        <p>
          By clicking the Sign Up button,you agree to our <br />
          <a href="https://www.gov.uk/help/terms-conditions">Terms and Condition</a> and <a href="https://www.gov.uk/help/privacy-notice">Policy Privacy</a>
        </p>
        
        <div class="form-link">
          <span>Don't have an account? <a href="login.html" class="link login-link">Login here</a></span>
      </div>

      </form>
      </div>
    </div>
  </section>

</body>
</html>